html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black; /* sisi kosong tetap hitam */
}

#video-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* edge-to-edge tanpa gap */
}

.double-tap-indicator {
  position: absolute;
  color: white;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}